// COLORS

$black: #1D2623;
$white: #FFFFFF;
$cream: #F2EDDC;
$pink: #F2C6D3;
$contrast: #8F1145;

// FONTS
$font_vhuge: 2.488rem;
$font_huge: 2.074rem;
$font_vlarge: 1.728rem;
$font_large: 1.44rem;
$font_medium: 1.2rem;
$font_normal: 1rem;
$font_small: 0.833rem;
$font_vsmall: 0.694rem;
$font_tiny: 0.579rem;

$font_body: 'Charis SIL', serif;
$font_display: 'Updock', cursive;